#!/bin/sh
# shellcheck disable=2139

alias c='kubectx'
alias g="git"
alias h='helm'
alias i='f(){cd ~/src/github.com/ns-dsnp}; f'
alias k="kubectl"
alias n='kubens'
alias t='terraform'
alias z='lazygit'

# poetry related
if [ "$(uname)" = "Darwin" ]; then export SEP=" "; else export SEP=""; fi
alias pe='poetry env use $(cat .python-version)'
alias pi='pe && poetry lock --no-update && poetry install --sync'
alias pb='pe && poetry build-project --with-top-namespace ${PWD##*/}'
alias pt='poetry run pytest'
alias pu='mkdir tmp && unzip -q ./dist/*.whl -d tmp/ && cp ./.python-version tmp/ && cp ./pyproject.toml tmp/ && cp ./poetry.lock tmp/'
alias pz='source $(poetry env info --path)/bin/activate'
alias pv="pc && pi && pb && pu && cd tmp && sed -i${SEP}'' -E 's/\s*[{].*[}],?//' pyproject.toml && pi && pz"

# tmux
alias tl="tmux list-sessions -F '#{session_name}' | gum filter --prompt 'select your existing ssh session > '"
alias tt='tmux attach -t $(tl)'
alias ts='tmux choose-tree -sN'
alias tlc='tmux list-clients | gum filter | awk -F: '"'"'{ print $1 }'"'"''
alias tdc='tmux detach-client -t $(tlc)'

alias rg='rg --hidden --no-ignore'

alias vim='nvim'
alias top="htop"
alias aui='kubectl -n kubernetes-dashboard create token admin-user | pbcopy && kubectl proxy'
alias dash='open http://localhost:8001/api/v1/namespaces/kubernetes-dashboard/services/https:kubernetes-dashboard:/proxy/'
alias ping='f(){prettyping.sh $@}; f'
alias squash='git rebase -i origin/master'
#
# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

# Detect which `ls` flavor is in use
if ls --color > /dev/null 2>&1; then # GNU `ls`
	colorflag="--color"
	export LS_COLORS='no=00:fi=00:di=01;31:ln=01;36:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arj=01;31:*.taz=01;31:*.lzh=01;31:*.zip=01;31:*.z=01;31:*.Z=01;31:*.gz=01;31:*.bz2=01;31:*.deb=01;31:*.rpm=01;31:*.jar=01;31:*.jpg=01;35:*.jpeg=01;35:*.gif=01;35:*.bmp=01;35:*.pbm=01;35:*.pgm=01;35:*.ppm=01;35:*.tga=01;35:*.xbm=01;35:*.xpm=01;35:*.tif=01;35:*.tiff=01;35:*.png=01;35:*.mov=01;35:*.mpg=01;35:*.mpeg=01;35:*.avi=01;35:*.fli=01;35:*.gl=01;35:*.dl=01;35:*.xcf=01;35:*.xwd=01;35:*.ogg=01;35:*.mp3=01;35:*.wav=01;35:'
else # macOS `ls`
	colorflag="-G"
	export LSCOLORS='BxBxhxDxfxhxhxhxhxcxcx'
fi

# List all files colorized in long format
alias l="ls -lF ${colorflag}"

# List all files colorized in long format, excluding . and ..
alias la="ls -lAF ${colorflag}"

# List only directories
alias lsd="ls -lF ${colorflag} | grep --color=never '^d'"

# List hidden directory size
alias lshd='\ls -ld .*/ | awk '"'"'{ print $9 }'"'"' | xargs -n1 du -hs'

# Always use color output for `ls`
alias ls="command ls ${colorflag}"

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# Flush Directory Service cache
alias flush="dscacheutil -flushcache && killall -HUP mDNSResponder"

# Intuitive map function
# For example, to list all directories that contain a certain file:
# find . -name .gitattributes | map dirname
alias map="xargs -n1"

# Trim new lines and copy to clipboard
alias c="tmux show-buffer | xclip -selection clipboard"

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec ${SHELL} -l"

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'
